//- extends layout

//- block content
//- div(id="content" class="group" role="main")

if indicator.family_id == 1
	- var indicatorClass = "socioeconomicos"
else if indicator.family_id == 2
	- var indicatorClass = "constructivos"
else
	- var indicatorClass = "energeticos"

section.aside-wrapper.indicators
	.inner
		header
			umbral()= indicator.umbral
			h2(class=indicatorClass)
				span.label CATEGOR&Iacute;A
				|  #{indicator.family_name}

			img.back-to-page(src='images/bo_ico_back.png', alt='')
			h3(class=indicatorClass) #{indicator.indicator_name}
			.tabs-wrapper
				ul.nav
					li(menu="1", class=indicatorClass + ' active') Tabla
					li(menu="2",class=indicatorClass) Gr&aacute;fica
					li(menu="3",class=indicatorClass) Nota
				.filters
					span.label Filtrar por
					ul.select.city
						li
							span.dropdown-toggle(href='#') Toda Andaluc&iacute;a
							ul
								each city in cities
									li()= city.name
								
								li Toda Andaluc&iacute;a

				.filters
					ul.select.town.hide
						li
							span.dropdown-toggle.town(href='#') Todos
							ul
								each town in towns
									li(city=town.city)= town.name

								li(city='all') Todos
								
			.table-wrap
				table.indicators-table
					tr(class='table_header')
						//- th.col-1.sort
						th.col-1
							| Ciudad
							//- span.caret
							span
						th.tg-031e Barriada
						th.col-3 Valor

					each d in data
						tr(city=d.city, town=d.town lat=d.lat, lng=d.lng)
							td(class="col-1")= d.town
							td(class="tg-031e")= d.nombrebloq + " - " + d.nom_barr
							td(class="col-3")= d.valor
			
			div(id="chart_div")

			div(id="note" class="hide")
				p #{indicator.note}

	button.viewsize-toggle
	.controls
		button.control-1
		button.active.control-2


