div(id="dataLevel")
	section.aside-wrapper
		.inner
			.header
				img.back-to-page(src='images/bo_ico_back.png', alt='')
				h3 #{level1.nom_barr}
				div.documents
					if level1.num_images > 0
						div.images
							a(href="#{level1.nombrebloq}")
					if level1.tiene_ficha_patrimonial
						div.patrimonial
							a(href="documents/#{level1.nombrebloq}/ficha_patrimonial.pdf" target="_blank")
					if level1.tiene_aplicacion_mbp
						div.mbp
							a(href="documents/#{level1.nombrebloq}/aplicacion_mbp.pdf" target="_blank")

				.clear

				.levels
					span(class="active blue" level="level_1") NIVEL 1
						span Datos generales de la barriada
					span(level="level_2" class=level2 ? "green" : "green disable") NIVEL 2
						span Datos constructivos de la edificación
					span(level="level_3" class=level3SupNeigh ? "red" : "red disable") NIVEL 3
						span Datos socioeconómicos, físicos y energéticos
			
			.level_1
				include level_1.jade
			
			if level2
				.level_2.hide
					include level_2.jade
			
			if level3SupNeigh
				.level_3.hide
					include level_3.jade

			div(id="imageGallery" class="hide")

				
