.table-wrap
	table.indicators-table
		tr(class='table_header')
			th Datos básicos
			th Valor
		tr
			td Código barriada
			td #{level1.nombrebloq}
		tr
			td Área (m<sup>2</sup>)
			td #{level1.area}
		tr
			td Densidad viviendas (hab/m<sup>2</sup>)
			td #{level1.dens_viv}
		tr
			td Número viviendas
			td #{level1.num_viv}
		tr
			td Edad media población
			td #{level1.edad_pob}
		tr
			td Año de finalización
			td #{level1.agno_fin}
		tr
			td Promotor
			td #{level1.promotor}
		tr
			td Arquitecto
			td #{level1.arquitecto}

	table.indicators-table
		tr(class='table_header')
			th Nivel de estudios
			th Valor
		tr
			td Analfabetos (%)
			td #{level1.analfabet}
		tr
			td Sin estudios (%)
			td #{level1.sin_estudi}
		tr
			td Primer grado (%)
			td #{level1.est_1_grad}
		tr
			td Segundo grado (%)
			td #{level1.est_2_grad}
		tr
			td Tercer grado (%)
			td #{level1.est_3_grad}
		tr
			td No es aplicable (%)
			td #{level1.no_aplicab}

	table.indicators-table
		tr(class='table_header')
			th Ocupación
			th Valor
		tr
			td Ocupados (%)
			td #{level1.ocupados}
		tr
			td Estudiantes (%)
			td #{level1.estudiant}
		tr
			td Desempleados (%)
			td #{level1.desemplead}
		tr
			td Subsidiarios/rentistas (%)
			td #{level1.subsd_rent}
		tr
			td Otra situación (%)
			td #{level1.otra_situa}
		tr
			td Extranjeros (%)
			td #{level1.extranjer}

	table.indicators-table
		tr(class='table_header')
			th Tipología de vivienda
			th Valor
		tr
			td Viviendas principales (%)
			td #{level1.viv_ppales}
		tr
			td Viviendas secundarias (%)
			td #{level1.viv_secund}
		tr
			td Viviendas vacías (%)
			td #{level1.viv_vacias}
		tr
			td Propiedad
			td #{level1.propiedad}